.add-new-admin {
  display: flex;
  align-items: center;
  p {
    margin: 0;
    margin-left: 8px;
    color: rgba(#000, 0.9);
    &:hover {
      color: $success;
    }
  }
  text-decoration: none;
}
.admin-title {
  margin: 0;
  margin-right: 47px;
}
.table {
  margin-top: 16px;
}
.id-col {
  p {
    margin: 0;
    display: flex;
    align-items: center;
  }
  span {
    font-size: 16px;
    color: $success;
    vertical-align: center;
    margin-left: 8px;
  }
}

.verified {
  display: flex;
  p {
    margin: 0;
  }
}
.form-edit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.visibility {
  margin-right: 25px;
}
td {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}
.table > :not(caption) > * > * {
  padding-bottom: 4px;
}

.pagination-content {
  display: flex;
  justify-content: flex-end;
}

.page-link {
  color: #212529;
  border: 1px solid $success;
  span {
    color: $success;
  }
  &:hover {
    background-color: $success;
    color: #fff;
    border: 1px solid $success;
    span {
      color: #fff;
    }
  }
}
.page-link:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: $success;
  color: #fff;
  span {
    color: #fff;
  }
}
.table {
  margin-bottom: 63px;
}

a {
  cursor: pointer;
}

.form-edit {
  span {
    cursor: pointer;
    &:hover {
      color: $success;
    }
  }
}

/* Modal */

.modal-header {
  border-bottom: none;
  padding: 0;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  .modal-title {
    font-weight: bold;
  }
}
.title-account {
  font-size: 20px;
  line-height: 33px;
  font-weight: bold;
}
.modal-body {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  .form-control,
  .form-select {
    border: 1px solid #212529;
    border-radius: 2px;
  }
  .button {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ced4da;
  }
}
.modal-footer {
  padding-left: 32px;
  padding-right: 32px;
  button {
    border-radius: 2px;
    padding: 8px 32px;
  }
}
.label-small {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 4px;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 480px;
  }
}
.verification-title {
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 18px;
  .material-icons {
    margin-right: 8px;
    color: $danger;
  }
}
.form-select {
  color: #6c757d;
}
.edit_input {
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #f8f9fa;
  border: none;
}
.check_circle {
  color: $success !important;
}
.edit_title {
  display: flex;
  align-items: center;
  p {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
  }
  justify-content: space-between;
}
.btn-outline-success:disabled,
.btn-outline-success.disabled {
  color: #ced4da;
}

.deactivate-account {
  span {
    font-weight: normal;
    color: $danger;
  }
}
.danger-button {
  border: 1px solid $danger;
  width: 100%;
}
.modal-footer {
  border-top: none;
}
.admin-content {
  padding-top: 16px;
  position: relative;
  display: flex;
}
.admin-photo {
  width: 141px;
  height: 141px;
  img {
    width: 100%;
    height: 141px;
  }
}
.infos {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  p {
    margin: 0;
    font-size: 16px;
  }
}
.admin-modal-close {
  position: absolute;
  right: 0;
  width: 24px;
  height: 24px;
}
.admin-name {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}
.admin-mail {
  font-size: 14px;
  color: #6c757d;
  margin-block-end: 0px;
}
.admin-verified {
  margin-left: 24px;
  display: flex;
  justify-content: space-between;
}
.admin-verified-tag {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  margin-top: 12px;
  background-color: #f8f9fa;
  padding: 4px 8px 4px 8px;
}
.arrow-up {
  position: absolute;
  right: 0;
  bottom: 8px;
  color: $success;
}
.admin-body {
  padding-bottom: 0;
}
.admin-footer {
  padding-bottom: 32px;
  padding-top: 32px;
}
