.dropdown-toggle::after {
  display: none;
}
.top-navbar {
  padding-top: 10px;
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  .nav-item {
    margin-left: 30px;
    .all-course {
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
      span {
        margin-right: 8px;
      }
    }
  }
}
.expand-more {
  color: #198754;
}
.assignment-nav {
  display: flex;
  justify-content: space-between;
}

.icons {
  li {
    // margin-right: 28px;
    margin-left: 28px;
  }
}
.list-chapter,
.list-time,
.list-name {
  font-size: 12px;
}
.list-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}
.list-name {
  color: #6c757d;
}
.list-dropdown {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.list-group {
  border-radius: 2px;
}

.card_group {
  padding: 0;
  border-radius: 2px;
  margin-top: 1px;
}
.comment_num {
  display: flex;
  justify-content: flex-end;
  color: #6c757d;
  line-height: 24px;
  font-size: 12px;
  margin-right: 2px;
}
.card-chapter {
  font-size: 12px;
  margin-bottom: 4px;
  display: block;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-name {
  font-size: 16px;
  margin: 0;
  line-height: 24px;
}
.post-time {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 0;
  color: #6c757d;
}
.user-info-pic {
  height: 40px;
  width: 40px;
  margin-right: 8px;
  img {
    width: 100%;
    border-radius: 50%;
  }
}
.user-info-content {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.article-content {
  padding-left: 48px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 21px;
}
.download-file {
  border-radius: 2px;
  margin-left: 48px;
  display: flex;
  align-items: center;
  width: 176px;
  span {
    margin-right: 8px;
  }
}
.hr {
  margin-left: 48px;
  margin-right: 16px;
}
.br {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.under-line {
  background-color: rgba(#198754, 0.1);
  color: #198754;
}
.user-edit {
  margin-right: 16px;
  span {
    margin-left: 24px;
  }
}
.reply {
  width: 105px;
}
.mark-read {
  width: 157px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  span {
    margin-right: 23px;
  }
  button {
    margin-left: 16px;
  }
}
#ckeditor {
  display: none;
}
.edit-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
.edit-cancel,
.edit-reply {
  width: 113px;
  margin-left: 16px;
}
